{erl_opts, [debug_info]}.

{deps, [
    {eqwalizer_support,
      {git_subdir,
        "https://github.com/whatsapp/erlang-language-platform.git",
        {branch, "main"},
        "eqwalizer/eqwalizer_support"}},
    {errm_http, {git, "https://github.com/h4rldev/errm-HTTP.git", {branch, "main"}}},
    {errm_ws, {git, "https://github.com/h4rldev/errm-WS.git", {branch, "main"}}},
    {errm_sqlite, {git, "https://github.com/h4rldev/errm-SQLite.git", {branch, "main"}}},
    {errm_argon, {git, "https://github.com/h4rldev/errm-ARGON.git", {branch, "main"}}},
    {errm_json, {git, "https://github.com/h4rldev/errm-JSON.git", {branch, "main"}}},
    {errm_jwt, {git, "https://github.com/h4rldev/errm-JWT.git", {branch, "main"}}}
]}.

{profiles, [
    {prod, [
        {erl_opts, [
            no_debug_info,
            deterministic,
            warnings_as_errors,
            compressed,
            {optimize, 3}
        ]}
    ]}
]}.

{shell, [{apps, [picard_rt]}]}.
